<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        bean标签标示配置bean
            id属性标示给bean起名字
            class属性表示给bean定义类型
            name:为bean指定别名，别名可以有多个，使用逗号，分号，空格进行分隔
            scope表示bean设置作用范围，可选值为单例 singleton，非单例 prototype. 默认情况下是单例的
    -->

    <!--注入简单类型-->
    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl">
        <!--name属性：设置注入的属性名，实际是set方法对应的名称-->
        <!--value属性：设置注入简单类型数据值-->
        <property name="connectionNum" value="100"/>
        <property name="databaseName" value="MySQL"/>
    </bean>


    <bean id="userDao" class="org.example.dao.impl.UserDaoImpl"/>

    <!--注入引用类型-->
    <bean id="bookService"
          name="service service4 bookEbi"
          class="org.example.service.impl.BookServiceImpl"
    >
        <!--
            property标签表示配置当前bean的属性
                name属性表示配置哪一个具体的属性
                ref属性表示参照哪一个bean
        -->

        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>
